// Mixins Here
.border-radius (@radius: 12px){
    border-radius: @radius;
}
.btnstyle{
    background-color: navy;
    color: white;
    text-align: center;
    text-decoration: none;
    padding: 1rem;
    font-size: 3rem;
}
.hoverstyle{
    background-color: white;
    color: navy;
}